<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52718/CalculatorWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorWebServiceSoap"
                contract="CalcRef.CalculatorWebServiceSoap" name="CalculatorWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>